<ion-view view-title="Create DVI Record">
  <style>

  </style>

  <ion-content>
    <!-- <div class="bar bar-header">
      <button class="button button-clear button-positive pull-right">Save</button>
    </div>
    <br>
    <br> -->
    <H4>Identification: X3D32-SDASDD-SAS224</H4>
    <div class="list">
      <div class="item item-divider">
    Identity/Status/Location
  </div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Possible Identity</span>
      <input type="text" placeholder="John">
    </label>
    <label class="item item-input item-select">
      <span class="input-label">Status</span>
      <select >
      <option selected>Field</option>
      <option>Transit</option>
      <option>Storage</option>
      <option>Internment</option>
      <option>Released</option>
    </select>
    </label>
    <label class="item item-input">
      <span class="input-label">Geotag</span>
      <input type="text" placeholder="-83.2, 32.0" readonly>
      <button class="button button-positive button-clear pull-right">
  Get Geotag
</button>
    </label>
    <div class="item item-divider">
    Description
  </div>
  <label class="item item-input item-select">
    <span class="input-label">Body Condition</span>
    <select>
    <option selected>Complete Body</option>
    <option>Incomplete Body</option>
    <option>Body Part</option>
  </select>
  </label>
  <label class="item item-input item-select">
    <span class="input-label">General Condition</span>
    <select>
    <option selected>Well Preserved</option>
    <option>Decomposed</option>
    <option>Partially Skelentonized</option>
    <option>Skeletonized</option>
  </select>
</label>
  <label class="item item-input item-select">
    <span class="input-label">Apperant Sex</span>
    <select>
    <option selected>Male</option>
    <option>Female</option>
    <option>Probably Male</option>
    <option>Probably Female</option>
    <option>Undetermined</option>
  </select>
</label>
  <label class="item item-input item-select">
    <span class="input-label">Age Group</span>
    <select>
    <option selected>Infant</option>
    <option>Child</option>
    <option>Adolescent</option>
    <option>Adult</option>
    <option>Elderly</option>
  </select>
  </label>
  <label class="item item-input item-select">
    <span class="input-label">Height</span>
    <select>
    <option selected>Short</option>
    <option>Average</option>
    <option>Tall</option>
  </select>
  </label>
  <label class="item item-input item-select">
    <span class="input-label">Weight</span>
    <select>
    <option selected>Slim</option>
    <option>Average</option>
    <option>Fat</option>
  </select>
  </label>
  <label class="item item-input item-select">
    <span class="input-label">Hair Color</span>
    <select>
    <option selected>Blonde</option>
    <option>Brown</option>
    <option>Black</option>
    <option>Red</option>
    <option>Gray</option>
  </select>
  </label>
  <label class="item item-input item-select">
    <span class="input-label">Hair Length</span>
    <select>
    <option selected>Short</option>
    <option>Mid Length</option>
    <option>Long</option>
  </select>
  </label>
  <div class="item item-divider">
  Associated Evidence
</div>
<label class="item item-input item-stacked-label">
  <span class="input-label">Clothing</span>
  <input type="text" placeholder="Victim was wearing a red jacket...">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Footwear</span>
  <input type="text" placeholder="Victim was wearing steel toed boots...">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Eyewear</span>
  <input type="text" placeholder="Victim was not wearing any eyewear...">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Personal Property</span>
  <input type="text" placeholder="Victim was found with a cell phone...">
</label>
<label class="item item-input item-stacked-label">
  <span class="input-label">Identity Documents</span>
  <input type="text" placeholder="Victim had a passport on her person...">
</label>
<div class="item item-divider">
Photographs
</div>

<label class="item item-input">
  <span class="input-label">Full Length</span>
  <img ng-show="pictures[0]['full-body'] !== undefined" ng-src="{{pictures[0]['full-body']}}" height="30px" width="30px">
  <div class="item-button-right">
                <div class="buttons">
                  <button class="button pull-right" id="full-body" data-ng-click="takePicture($event)">
                    <i class="icon ion-camera"></i>
                  </button>
                </div>
            </div>
</label>
<label class="item item-input">
  <span class="input-label">Upper Half</span>
  <img ng-show="pictures[1]['upper-half'] !== undefined" ng-src="{{pictures[1]['upper-half']}}" height="30px" width="30px">
  <div class="item-button-right">
                <div class="buttons">
                  <button class="button" id="upper-half" data-ng-click="takePicture($event)" >  <i class="icon ion-camera"></i>               </button>

                </div>
            </div>



</label>
<label class="item item-input">
  <span class="input-label">Lower Half</span>
  <img ng-show="pictures[2]['lower-half'] !== undefined" ng-src="{{pictures[2]['lower-half']}}" height="30px" width="30px">
  <div class="item-button-right">
                <div class="buttons">
                    <button class="button" id="lower-half" data-ng-click="takePicture($event)" > <i class="icon ion-camera"></i>
                    </button>

                </div>
            </div>



</label>
<label class="item item-input">
  <span class="input-label">Front View of Head</span>
  <img ng-show="pictures[3]['fvoh'] !== undefined" ng-src="{{pictures[3]['fvoh']}}" height="30px" width="30px">
  <div class="item-button-right">
                <div class="buttons">
                    <button class="button" id="fvoh" data-ng-click="takePicture($event)" >
                        <i class="icon ion-camera"></i>
                    </button>

                </div>
            </div>


</label>
<label class="item item-input">
  <span class="input-label">Elevated View</span>
  <img ng-show="pictures[4]['elevated-view'] !== undefined" ng-src="{{pictures[4]['elevated-view']}}" height="30px" width="30px">
  <div class="item-button-right">
                <div class="buttons">
                    <button class="button" id="elevated-view" data-ng-click="takePicture($event)" >
                        <i class="icon ion-camera"></i>
                    </button>

                </div>
            </div>


</label>
<label class="item item-input">
  <span class="input-label">Unique Features</span>
  <img ng-show="pictures[5]['unique-features'] !== undefined" ng-src="{{pictures[5]['unique-features']}}" height="30px" width="30px">
  <div class="item-button-right">
                <div class="buttons">
                    <button class="button" id="unique-features" data-ng-click="takePicture($event)" >
                        <i class="icon ion-camera"></i>
                    </button>

                </div>
            </div>
</label>
<label class="item item-input">
  <span class="input-label">Personal Affects</span>
  <img ng-show="pictures[6]['personal-affects'] !== undefined" ng-src="{{pictures[5]['personal-affects']}}" height="30px" width="30px">
  <!-- <img ng-show="imgURI === undefined" ng-src="http://placehold.it/30x30"> -->
  <div class="item-button-right">
                <div class="buttons">
                  <button class="button" id="personal-affects" data-ng-click="takePicture($event)">
                        <i class="icon ion-camera"></i>
                    </button>

                </div>
            </div>




</label>



  </div>

  </div>

<button class="button button-assertive button-block" ng-click="save()">Save</button>





  </ion-content>
</ion-view>
