<ion-view view-title="Create DVI Record">
  <style>

  </style>

  <ion-content>
    <!-- <div class="bar bar-header">
      <button class="button button-clear button-positive pull-right">Save</button>
    </div>
    <br>
    <br> -->
    <H4>Identification: X3D32-SDASDD-SAS224</H4>

    <div class="list">
      <div class="item item-divider">
    Identity/Status/Location
  </div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">{{identityField.name}}</span>
      <input type="text" placeholder="{{identityField.placeholder}}" ng-model="identityField.value">
    </label>
    <label class="item item-input item-select">
      <span class="input-label">{{statusField.name}}</span>
      <select ng-model="statusField.value">
        <option value="Unknown">Unknown</option>
        <option ng-repeat="option in statusField.options" value="{{option}}">{{option}}</option>
      </select>
    </label>
    <label class="item item-input">
      <span class="input-label">Geotag</span>
      <input type="text" placeholder="-83.2, 32.0" readonly>
      <button class="button button-positive button-clear pull-right">
  Get Geotag
</button>
    </label>
  <div class="item item-divider">
    Description
  </div>
  <label ng-repeat="field in descriptionFields" class="item item-input item-select">
    <span class="input-label">{{field.name}}</span>
    <select ng-model="field.value">
      <option value="Unknown">Unknown</option>
      <option ng-repeat="option in field.options" value="{{option}}">{{option}}</option>
    </select>
  </label>
  <div class="item item-divider">
  Associated Evidence
</div>
<label class="item item-input item-stacked-label" ng-repeat="field in evidenceFields">
  <span class="input-label">{{field.name}}</span>
  <input type="text" placeholder="{{field.placeholder}}" ng-model="field.value">
</label>
<div class="item item-divider">
Photographs
</div>
<label class="item item-input">
  <span class="input-label">Full Length</span>
  <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
      <img ng-show="imgURI === undefined" ng-src="http://placehold.it/30x30">
      <button class="button" id="first" ng-click="takePicture()" data-ng-click="ShowId($event)">Take Picture</button>
</label>
<label class="item item-input">
  <span class="input-label">Full Length</span>
  <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
  <img ng-show="imgURI === undefined" ng-src="http://placehold.it/30x30">
  <button class="button" id="second" ng-click="takePicture()">Take Picture</button>
</label>



  </div>







  </ion-content>
</ion-view>
