<ion-view view-title="Register" >
          <ion-content>
              <div class="list">
                  <input placeholder="E-mail" highlight-color="balanced" type="text" ng-model="data.emailaddress" required></input>
                  <input placeholder="Password" highlight-color="energized" type="password" ng-model="data.password" required></input>
                  <input placeholder="Confirm Password" highlight-color="energized" type="password" ng-model="data.confirmpassword" required></input>

              </div>
              <div class="padding">
                  <button class="button button-full button-assertive ink"  ng-click="register()">Login</button>
              </div>
          </ion-content>
      </ion-view>
