<ion-view view-title="Register" >
  <ion-nav-bar>

    <ion-nav-view>
      <ion-nav-buttons side="primary">
        <button class="button  ion-android-arrow-back" ng-click="goBack()">
        </button>
      </ion-nav-buttons>

          <ion-content>
              <div class="list">
                  <input placeholder="E-mail" highlight-color="balanced" type="text" ng-model="data.emailaddress" required></input>
                  <input placeholder="Password" highlight-color="energized" type="password" ng-model="data.password" required></input>
                  <input placeholder="Confirm Password" highlight-color="energized" type="password" ng-model="data.confirmpassword" required></input>

              </div>
              <div class="padding">
                  <button class="button button-full button-assertive ink"  ng-click="register()">Login</button>
              </div>
          </ion-content>
  </ion-nav-bar>

</ion-view>
