<ion-view view-title="Dashboard">

  <ion-content class="padding">
  <style>
  .row, .scroll {
  height: 100%;
  }
  </style>


    <div class="row row-center">
      <div class="col">
        <div class="text-center">
          <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Flag_of_the_ICRC.svg/2000px-Flag_of_the_ICRC.svg.png" height="200px" width="200px">


      </div>
        <a  class="button button-positive button-block" id="tabButton1" href="#/qr">Create New DVI Record</a>
        <button class="button button-positive button-block" id="tabButton2" ng-click="login()">Modify DVI Record</button>
        <a class="button button-positive button-block"  id="tabButton3" href="#/map">View Map</a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">

      </div>
    </div> -->


  </ion-content>
</ion-view>
