<div class="container">
  <h2>Current Disaster Information</h2>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID Number</th>
        <th>Possible ID</th>
        <th>Status</th>
        <th>Geotag</th>
        <th>Description</th>
        <th>Evidence</th>
        <th>Recorded Documentation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ACWEE</td>
        <td>James Wilson</td>
        <td>Field</td>
        <td>32.4, 42.3</td>
        <td>User was found with a ...</td>
        <td>Two shells were collected...</td>
        <td>3 Pictures</td>
      </tr>
      <tr>
        <td>WQEAS</td>
        <td>Joan Air</td>
        <td>Released</td>
        <td>31.0, 42.1</td>
        <td>User was found with a ...</td>
        <td>No evidence was found at ...</td>
        <td>3 Pictures</td>
      </tr>
      <tr>
        <td>ACWEE</td>
        <td>Greg Hugh</td>
        <td>Transit</td>
        <td>12.4, 30.3</td>
        <td>User was found with a cane...</td>
        <td>No evidence was found at ...</td>
        <td>3 Pictures</td>
      </tr>
    </tbody>
  </table>
</div>