<div class="container">
  <h2>Current Disaster Information</h2>

  <div ng-show="loading">LOADING...</div>
  <div ng-show="!loading">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>ID Number</th>
        <th>Possible ID</th>
        <th>Status</th>
        <th>Geotag</th>
        <th>Description</th>
        <th>Evidence</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in allBodies">
          <td><a href="{{value._id}}">{{value._id}}</a></td>
          <td>{{value.possible_identity}}</td>
          <td>{{value.status}}</td>
          <td>{{value.geotag.latitude + ', ' + value.geotag.longitude}}</td>
          <td>{{value.physical_description | tableDescription | characters:truncationLimit}}</td>
          <td>{{value.associated_evidence | tableDescription | characters:truncationLimit}}</td>
        </tr>
      </tbody>
    </table>



  </div>


</div>
