<div class="jumbotron">
      <div class="container">
        <h1>Mobile Management for Mass Casualties.</h1>
        <p>M3C allows emergency responders to track casualties more effectively, in an effort
        to expedite disaster recovery and reunite family members with their loved ones.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

<div class="row marketing">
  <h4>A product of PennApss XIII.</h4>
  <p>
    This product was developed in 48 hours by three Computer Science Students from the University of 
    South Carolina; Maribeth Bottorff, Blakeley Hoffman, and Omar Ansari.
  </p>

  <h4>Note:</h4>
  <p>
    This product is not meant to be used for real emergencies at this time. Remember, call 911 if this
    is a real disaster.
  </p>

</div>
